<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT umbHomePage ANY>
<!ATTLIST umbHomePage id ID #REQUIRED>
<!ELEMENT umbMaster ANY>
<!ATTLIST umbMaster id ID #REQUIRED>
<!ELEMENT umbNewsItem ANY>
<!ATTLIST umbNewsItem id ID #REQUIRED>
<!ELEMENT umbNewsOverview ANY>
<!ATTLIST umbNewsOverview id ID #REQUIRED>
<!ELEMENT umbTextPage ANY>
<!ATTLIST umbTextPage id ID #REQUIRED>
<!ELEMENT WeddingSinglePageApp ANY>
<!ATTLIST WeddingSinglePageApp id ID #REQUIRED>

]>
<root id="-1">
  <WeddingSinglePageApp id="1068" key="117d2860-e8f9-48d4-936a-70ed4241f0ff" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2014-04-27T22:19:14" updateDate="2014-09-14T19:24:08" nodeName="Home" urlName="home" path="-1,1068" isDoc="" nodeType="1081" creatorName="Tom Coombs" writerName="Tom Coombs" writerID="0" template="1080" nodeTypeAlias="WeddingSinglePageApp">
    <umbracoNaviHide>0</umbracoNaviHide>
    <title><![CDATA[Tom and Fab]]></title>
    <theCEREMONY><![CDATA[In France, the church is separated from the state. Thusly, as in many European countries, the wedding is split into the “civil” weddin - the legal bit. Then the church part. The civil ceremony takes part in a nice room in the local town hall. It’s optional to come to this, it can be just family, but tends to end up being most people if both the church and the civil ceremony are close together (like ours) Please come along!]]></theCEREMONY>
    <Hotels><![CDATA[<p>We have various options for people to stay at Château Chapeau Cornu. We are working it out. We are confident that all will fit! We have 60 rooms reserved.</p>]]></Hotels>
    <FabDes><![CDATA[As well as her big brother Florent and sister Audrey, Fabienne was born in Sallanches (France). With their mother Sylvie they spent her first 10 years in a small village near the Alpes. They then lived in the Champagne region for 7 years, where Clau joined them, before moving back to the area in La Verpilliere, while brother and sister flew the nest to study. Fabienne studied business in Lyon university. Rumour has it that she likes planning and organizing… so her choice to specialise in operations management (supply chain) came as very little surprise. During her studies, she took the opportunity to further her horizons by following very serious programs in Spain and…. Australia…. In the meantime, she became a big sister to her lovely little brother Clement. She then worked in Grenoble, and Paris, but London was calling so she moved there in 2010.]]></FabDes>
    <TomDes><![CDATA[Tom was born in Harrow near London in 1981. After 6 years the family moved to the midlands, where he grew up. (Maybe) After graduating from Loughborough University, Tom started working programming computers. Nobody really knows exact what he does. Only that he loves doing it. Tom has 2 brothers, Dave and Bug. (James) While at university, on the year out in industry, Tom met James Spencer, who is his best man. As well as geeking, Tom loves biking up mountains, running and photography.]]></TomDes>
    <Stags><![CDATA[<p>Details to be added by James soon. Watch this space!</p>]]></Stags>
    <Hens><![CDATA[<p>Details to be added by Sophie and Cecile soon. Watch this space!</p>]]></Hens>
    <Image><![CDATA[/media/1086/primrose-hill.jpg]]></Image>
    <hOWWEMET><![CDATA[Tom and Fabienne where both keen on finding the special someone to share the exciting London life. This proving difficult in the fast paced London, they turned to internet dating. While Tom had quite a few unfortunate stories to tell, Fabienne has only one as Tom is the first and only person she ever met through it.

Tom & Fabienne first met in Primrose Hill, a beautiful park overlooking London on a nice Sunday afternoon of July 2011. Being both really busy, but eager to get to know each other they then met in airports and train stations, parties and spent a few weeks Skypeing while Tom was away in Australia. After about a year of travelling from one place to another, they moved in together. Shortly after, Tom got Fabienne on a bike and they have been sharing this passion, finding more and more mountains to climb. They have been enjoying London life.]]></hOWWEMET>
    <tHEENGAGEMENT><![CDATA[During a trip to New-York in February 2014, Tom had planned surprises for Fabienne. They were meant to go on a helicopter ride over NYC where Tom was planning on proposing… if it was not for the weather. Never mind, Tom had a plan B. A limousine picked them up from their amazing hotel in central Manhattan to take them around the Big Apple. It was on a deck with a stunning view to the night lights of Manhattan and Brooklyn Bridge that Tom proposed, and Fabienne said YES! After a difficult u-turn of the limo, they had an amazing dinner in the River Café restaurant, on the river, with the same mesmerizing view. The helicopter flight still happened… on the following day, with future Mr & Mrs Coombs...]]></tHEENGAGEMENT>
    <cermonyImage1><![CDATA[/media/1093/magpieshot.jpg]]></cermonyImage1>
    <cermonyImage2><![CDATA[/media/1094/magpieshot-2.jpg]]></cermonyImage2>
  </WeddingSinglePageApp>
</root>